h1 {
    margin: 32px 0;
    color: rgb(247, 161, 255);
    font-size: 24px;
    font-weight: bold;
    background-color: rbg (253, 135, 154);
    text-shadow: 0 0 14px violet;
  }

  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(255, 101, 247) 0%,
      rgba(255, 12, 241, 1) 100%
    );
  
    padding: 10px;
    border-radius: 2px;
    width: 70%;
  }

  